.header {
    &__wrapper {
        padding: 28px 40px 33px 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__btn {
        padding: 42px 120px;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 90%;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        border-radius: 65px;
        background: #050F28;
        outline: none;
        text-decoration: none;
        -webkit-transition: background .2s linear;
        -o-transition: background .2s linear;
        transition: background .2s linear;

        &:hover {
            background: #88A1DE;
        }
    }
}

@media (max-width: 1275px) {
    .header__wrapper {
        padding: 20px 30px;
    }
}

@media (max-width: 1024px) {
    .header {
        &__wrapper {
            padding: 10px 20px;
        }

        &__btn {
            padding: 30px 100px;
        }
    }
}

@media (max-width:768px) {
    .header {
        &__btn {
            padding: 20px 60px;
            font-size: 16px;
        }

        &__logo {
            max-width: 240px;
        }
    }
}

@media (max-width: 525px) {
    .header__btn {
        font-size: 0;
        padding: 20px 18px;
        background-image: url('images/Icon_pensil.svg');
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
            background-image: url('images/Icon_pensil.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}